<a href="../shows">Back</a>
{{#each shows}}
    <div class="show_slug">
        <h1 id="showname">{{show_name}}</h1>
        {{#if imageFilename}}
            <img src="/uploads/{{imageFilename}}">
        {{/if}}
        <p id="description">{{description}}</p>
   </div>   
{{/each}}


