/*
    #011638: Black
    #BC1C31: Red
    #FFF8E8: Marshmallow
    #CDCDCD: Grey
*/

h1{
    font-family: 'Hind', sans-serif;
}

h2{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #FFF8E8;
}

a{
    color: #BC1C31;
}

.show{
    border: solid;
    border-color: #011638;
}

#description{
    background-color:white;
    color: #CDCDCD;
}