/*
    #011638: Black
    #BC1C31: Red
    #FFF8E8: Marshmallow
    #CDCDCD: Grey
*/

h1, h2, h3{
    font-family: 'Hind', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #FFF8E8;
}

a{
    color: #BC1C31;
}

.show{
    border: solid;
    border-color: #011638;
}

#wrapper{
    width:1000px;
    border: 1px solid black;
    overflow:hidden;
    padding: 8px;
}

#show_slug{
    float:left;
}

#description{
    margin-top:85px;
    float: left;
    display:inline-block;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
}


.crop {
    height: 350px;
    overflow:hidden;
}

.crop img{
    margin-left:17px;
    height: 100%;
    width:auto;
}

